
<header>
    <div class="nav-bar">
        <div class="logo-socials">
            <div class="logo">
                <a href="/"><img class="logo" src="https://i.ibb.co/Rc0kHwt/ds-white.png" alt="logo"></a>
            </div>
            <form action="/search" method="POST">
                <div class="search">
                    <input type="text" id="input" name="input" placeholder="Search.." autocomplete="off">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
                <div class="autocom-box" id="autocom-box"></div>
            </form>

            <div class="social">
                <span>Follow us on Social Media<i class="fa-solid fa-4"></i></span>
                <ul>
                    <li><a href="https://www.facebook.com"
                            target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com" target="_blank"><i
                                class="fa fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href=" https://www.youtube.com" target="_blank"><i
                                class="fa fa-youtube" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="menu">
            <ul class="nav">
            
              <li id="home"><a (click)="gotoHomePage()"  id="a-home">Home</a></li>
              <li ><a (click)="gotoBlogs()">Blogs</a></li>
              <li> <a href="/team">Social</a></li>
              <li><a href="/schedule">Contact</a></li>
              <li><a href="/news" id="news">About</a></li>
              
            </ul>
        </div>
        <div class="bottom">
        </div>
    </div>
</header>
