
<header>
    <div class="nav-bar">
        <div class="logo-socials">
            <div class="logo">
                <a href="/"><img class="logo" src="https://i.ibb.co/Rc0kHwt/ds-white.png" alt="logo"></a>
            </div>
            <form action="/search" method="POST">
                <div class="search">
                    <input type="text" id="input" name="input" placeholder="Search.." autocomplete="off">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
                <div class="autocom-box" id="autocom-box"></div>
            </form>

            <div class="social">
                <span>Follow us on Social Media</span>
                <ul>
                    <li><a href="https://www.facebook.com"
                            target="_blank"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com" target="_blank"><i
                                class="fab fa-instagram" aria-hidden="true"></i></a></li>
                    <li><a href=" https://www.youtube.com" target="_blank"><i
                                class="fab fa-youtube" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>

        <div class="menu">
            <ul class="nav">
            
              <li id="home"><a href="/" id="a-home">Home</a></li>
              <li><a href="/history">Link 1</a></li>
              <li><a href="/team">Link 2</a></li>
              <li><a href="/schedule">Link 3</a></li>
              <li><a href="/news" id="news">Link 4</a></li>
              
            </ul>
        </div>
        <div class="bottom">
        </div>
    </div>
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
</header>
