<!-- <div class="row">
    <div class="col-md-12 text-center">
        <div class="card-container">
            <span class="pro">PRO</span>
            <img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
            <h3>Ricky Park</h3>
            <h6>New York</h6>
            <p>User interface designer and <br/> front-end developer</p>
            <div class="buttons">
                <button class="primary">
                    Message
                </button>
                <button class="primary ghost">
                    Following
                </button>
            </div>
            <div class="skills">
                <h6>Skills</h6>
                <ul>
                    <li>UI / UX</li>
                    <li>Front End Development</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JavaScript</li>
                    <li>React</li>
                    <li>Node</li>
                </ul>
            </div>
        </div>
    </div>
</div> -->

<div class="row">
    <div class="col-md-4 col-morning">
    <h2>Morning</h2>
    <h4>Evangelism Inspiration and Core Training</h4>
    </div>
    <div class="col-md-4 col-afternoon">
    <h2>Afternoon</h2>
    <h4>Hands on off campus experience or outreach activity</h4>
    </div>
    <div class="col-md-4 col-evening">
    <h2>Evening</h2>
    <h4>Prayer, worship and additional training</h4>
    </div>
    </div>