<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">Me.U <i>CODE WANTS TO BE SIMPLE </i> is an initiative to help the upcoming
                    programmers with the code. We focuses on providing the most efficient code or snippets as the code
                    wants to be simple. We will help programmers build up concepts in different programming languages
                    that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                    <li><a href="Javascript:;">C</a></li>
                    <li><a href="Javascript:;">UI Design</a></li>
                    <li><a href="Javascript:;">PHP</a></li>
                    <li><a href="Javascript:;">Java</a></li>
                    <li><a href="Javascript:;">Android</a></li>
                    <li><a href="Javascript:;">Templates</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="Javascript:;">About Us</a></li>
                    <li><a href="Javascript:;">Contact Us</a></li>
                    <li><a href="Javascript:;">Contribute</a></li>
                    <li><a href="Javascript:;">Privacy Policy</a></li>
                    <li><a href="Javascript:;">Sitemap</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <p class="copyright-text">Copyright &copy; 2022 All Rights Reserved by
                    <a href="#">ewumesh</a>
                </p>
            </div>
        </div>
    </div>
</footer>